/* reset */
/* .template{
    pointer-events: none;
} */
html,body{

    position: relative;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}
button{
    outline: 0;
}
body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
/* end */
/* global */
input ,.selecte {
	min-height: 35px;
	border: .5px solid #c4cdd5;
	border-radius: 3px;
	padding: 0 8px;
    outline: 0;
    font-size: 16px;
    width: 100%;
}
.mobile-nav{
    border-bottom: .5px solid #c4cdd5;
}
select{
    border:0;
    outline: 0;
    height: 100%;
    min-height: 35px;
    width: 100%;
    font-size: 16px;
    background: #fff;  
}
.input-group {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
}
.input-group label{
    display: inline-block;
    margin-bottom: 5px;
    color: rgb(145, 158, 171);
}
.radio-group {
	color: #637381;
	font-size: 14px;
    max-width: 350px;
    padding: 3px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
input[type="radio"] {
	/* standard background appearance removal*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* custom radiobutton appearance */
	display: inline-block;
	width: 25px;
    height: 25px;
    min-height: 25px;
	padding: 2.5px;
	/* background-color only for content */
	background-clip: content-box;
	border: 1.5px solid #bbbbbb;
	background-color: #bbbbbb;
	border-radius: 50%;
}
input[type="radio"]:checked {
	background-color: rgb(0, 0, 0);
	border: 1.5px solid #000;
}
.color-pick {
	min-height: 35px;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	border: .5px solid #c4cdd5;
	padding: 0 8px;
	border-radius: 3px;
}
label,
input[type='text'],
input[type='date'],
.color-pick,.selecte {
    display: block;
    font-size: 16px;
}
input[type='color'] {
	min-height: auto;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	padding: 2px;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 3px;
}
/* end */

.btn{

    -webkit-font-smoothing: antialiased;
text-size-adjust: 100%;
box-sizing: border-box;
font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
position: relative;
display: inline-flex;
align-items: center;
justify-content: center;
min-height: 3.6rem;
min-width: 3.6rem;
margin: 0;
font-size: 1.5rem;
padding: .7rem 1.6rem;
border: .1rem solid var(--p-border,#c4cdd5);
border-radius: 3px;
line-height: 1;
text-align: center;
cursor: pointer;
user-select: none;
text-decoration: none;
transition-property: background,border,box-shadow;
transition-duration: var(--p-override-none,.2s);
transition-timing-function: var(--p-override-none,cubic-bezier(.64,0,.35,1));
-webkit-tap-highlight-color: transparent;
background: linear-gradient(180deg,#6371c7,#5563c1);
border-color: #3f4eae;
box-shadow: inset 0 1px 0 0 #6774c8,0 1px 0 0 rgba(22,29,37,.05),0 0 0 0 transparent;
color: #fff;
}
.btn:hover{
    color:white;
}
/* main wrapper */
.wrapper{
    display: flex;
}
body > .wrapper{
    overflow: hidden;
}
.main{
    width: 70%;
    background: #efefef;
}
/* preview */
.preview{
    height: calc(100% - 77px);
    background: #fff;
    margin: 10px 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
/* slide button */
.slider {
	width: 65px;
	height: 30px;
	position: relative;
	background: #d0d0d0;
	transition: .4s ease-in-out;
	border-radius: 34px;
}

.slider.active {
	background: #e5f1ee;
}
.ball {
	width: 20px;
	height: 20px;
	top: 5px;
	position: absolute;
	transform: translateX(8px);
	border-radius: 50%;
	background: #fff;
	transition: all .4s ease-in-out;
}

.ball.active {
	background: #00805e;
	transform: translateX(35px);
}
div.status {
    padding:10px 0;
    display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.status .status{
    margin-right: 10px;
}
span.status{
    font-size: 1.2rem;
}
.status .wrapper {
	display: flex;
	align-items: center;
}
/* icon */
.icon svg{
    width: 25px;
    height: 25px;
}
.drawer-close{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: 10px;
    width: fit-content;
}
.drawer-close svg{
    margin-right: 5px;
}
/* drawers */
.drawer{
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
padding: 0 15px;
top: 0;
font-size: 1.4rem;
left: 0;
background: #f4f6f8;
transform: translateX(100%);
transition: all 0.25s linear;
}
.drawer .title{
    width: 100%;
    color: #212b36;
    font-weight: normal;
}
.drawer header{
    background: transparent;
    margin-bottom: 20px;
}
.drawer.open{
    transform: translateX(0);
    overflow-y: auto; 
}
.drawer .card{
    width: 100%;
    margin: 0;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 100%;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 3.5px;
  border-radius: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
/* alert pop up */
.overlay,.alert{
    transition: all 1s linear; 
    display: none;
    opacity: 0;
}
.alert{
    transition: all 1s linear; 
}
.overlay.inactive{
    opacity: 0;
    background:transparent;
}
.alert.card.inactive{
    opacity: 0;
    }
.overlay.active{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 1;
    left: 0;
    z-index: 5;
    height: 100%;
    background: rgba(0 ,0, 0 ,.5);
}

body.scroll-block{
    overflow-y: hidden;
}
.alert.card{
    display: none;
    position: fixed;
    top: 50%;
    border: 0;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50% ,-50%);
    min-width: 320px;
    max-width: 500px;
    min-height: 150px;
    padding: 0;
    flex-direction: column;
}
.alert.card.active{
display: flex!important;
opacity: 1;
z-index: 5;
 
}

.alert .header{
    display: block;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: right;

}
.alert .text-node{
    position: absolute;
    top: 50%;
    margin: 0;
    font-size: 25px;
    transform: translateY(-50%);
}
.icon.close{
    line-height: 2;
    float: right;
    text-align: center;
}
.icon.close svg{
    fill: #fff;
    width: 15px;
    height: 15px;
}
/* sidebar */
.sidebar-close{
    font-size: 1.6rem;
}
.card{
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 80%;
    margin:10px auto;
    padding: 10px;
    font-size: 1.5rem;
    position: relative;
}
.card .icon{
    display: block;
    width: 25px;
    height: 25px;
}
.icon.arrow{
    position: absolute;
    right: 10px;
}
svg{
    fill: rgb(100, 97, 97);
    
}
.text-node{
   margin-left: 10px;
}
.sidebar{
    width: 30%;
    border-right: 1px solid #bbb;
    background: #f9fafb;
   display: flex;
   flex-direction: column;
   position: relative;
   transition: all .3s linear;
}
.sidebar .body{
    flex:1;
    overflow: hidden;
    position: absolute;
   top: 57px;
   background: rgb(244, 246, 248);
    transform: translateX(-100%);
    transition: all .25s linear;
}
.sidebar .body.active{
    position: static;
    display: block;
    overflow-y: auto;
transform: translateX(0);
}
.sidebar .body.help-doc{
    top: 57px;
    font-size: 1.4rem;
    overflow-y: scroll;
    line-height: 1.5;
    padding: 10px;
}
.sidebar .body.help-doc.active{
    position: static; 
}
.sidebar-header,.sidebar-footer{
    padding:10px 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}
.sidebar-footer{
    justify-content: flex-end;
}
.sidebar-footer button{
    margin-right: 10px;
}
.sidebar-footer{
    border-top: 1px solid #ccc;
    border-bottom: 0;
    background: #fff;
}
.sidebar-header-item{
    position: relative;
}
.sidebar-header-item.active:after{
    content: '';
    position: absolute;
    width:100%;
    height: 4px;
    left:0;
    bottom: -10px;
    background: #6371c7;
}
.sidebar-header-item{
    height: 36px;
    width: 50%;
    line-height: 36px;
    text-align: center;
}

/* header */
.header-wrapper{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.header-wrapper,.nav{
    display: flex;
    justify-content: space-between;align-items: center;
}
header{
    background: #fff;
}

/*  preview dropdown */
.preview-dropdown .dropdown{
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 -2rem 2rem -2rem var(--p-hint-from-direct-light,rgba(0,0,0,.1));
    padding: 5px;
    z-index: 999;
    border: .5px solid #ccc;
}
.preview-dropdown {
    position: relative;
}

.nav-item.active:before,.nav-item:hover:before{
content: '';
position: absolute;
width: 4px;
height: 100%;
left: -6px;
background: #6371c7;
}
.nav-item{
    position: relative;
}
.nav-item:hover,.nav-item.active{
    background:rgb(242, 242, 254);
}
.preview-dropdown .dropdown .nav-item{
    display: flex;
    align-items: center;
}
.preview-dropdown .dropdown button{
    width: 100%;
    margin-right: 0;
}
.preview-dropdown .dropdown svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.preview-dropdown button {
    margin-right: 15px;
    line-height: 1;
    height: 36px;
    width: 36px;
border: 0;
background: transparent;
}
/* mobile edit button */
.mob-edit button{
    width: 150px;
    background: transparent;
    border: 0;
    display: block;
    margin: auto;
}

.mobile-nav svg,.mob-edit svg,.arrow-up{
    width: 20px;
    height: 20px;
}
.mobile-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
font-size: 1.6rem;
}
.mob-edit{
    position: fixed;
    width: fit-content;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
z-index: 22;
}
.mob-edit span{
    font-size: 1.3rem;
    display: block;
}
/* end */
@media (max-width:767px){
    .sidebar ,.main{
        width: 100%;
        transition: all .3s cubic-bezier(0.64, 0, 0.35, 1) 0s;
    }
    .sidebar .body,.sidebar .body.help-doc{
        top: 112px;
    }
    .sidebar .body.active{
        position: static;
    }
    .main{
        position: absolute;
        height: 100vh;
        top: 0;
    }
   
    .sidebar.open{
        height: 50vh;
        z-index: 2;
    }
    .sidebar.close{
        height: 0;
        z-index: 2;
    }
    .sidebar{
        height: 0vh;
    }
    .arrow-up{
        transition: all .3s cubic-bezier(0.64, 0, 0.35, 1) 0s;
    }
    .arrow-up.down{
        transform: rotateX(180deg);
        
    }
    .sidebar.open.full{
        height: calc(100vh - 60px);
        transition: all .3s cubic-bezier(0.64, 0, 0.35, 1) 0s;
    }
    body > .wrapper{
        flex-direction: column-reverse;
    }
}
@media(min-width:768px){
    .mobile-nav{
        display: none;
    }
    .mob-edit{
       display: none;
    
}

}
/* alerts */
.warning{
    color: #f00 !important;
}
.sucess{
    color: rgb(7, 85, 7) !important;
}
/* support drawer */
.massage{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    outline: 0;
}
.support-footer p{
    width: fit-content;
    margin: 0;
}
.support-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
/* sticky cart bar Css */
.add-to-cart-bar-wrapper{
    padding: 10px;
    font-size: 18px;
    padding-left: 0;
    background: #000;
    color: #fff;
    -webkit-box-shadow: 0px 9px 8px -4px #000000; 
box-shadow: 0px 9px 8px -4px #000000;
}
.product-price{
    padding: 0 5px;
}
.productimg{
    max-width: 75px;
    width: 100%;
}
.preview span{
    display: block;
}
.productimg img{
    max-width: 100%;
    
}
.add-to-cart-bar-wrapper,.product-form,.prodduct-varient-wrapper,.quantity-selector,.product-img-wrapper,.add-cart ,.price{
    display: flex;
    align-items: center;
}
.prodduct-varient-wrapper,.add-cart{
align-items: stretch;
}
@media(min-width:769px){
    .preview-mobile{
        display: none;
    }
}
@media(max-width:768px){
    .preview-desktop,.preview-desktop .prodduct-varient-wrapper > div:first-child{
        display: none;
    }
    
}
@media(max-width:640px){
    .preview-desktop .prodduct-varient-wrapper > div:last-child{
        display: none;
    }
    .preview-desktop  .add-to-cart-bar-wrapper *{
      
        font-size: 14px;
       
    }
    .product-form{
        justify-content: flex-end;
    }
    
}
.product-img-wrapper{
    flex: 0 1 auto;
    
}
.product-form{
    flex: 1 1 auto;
    align-items: stretch;
}
.quantity-selector{
    border: 1px solid #ddd;
    margin: 0 5px;
    align-items: stretch;
}
.qtn{
    width: 35px;
    padding: 3px;
    text-align: center;
    background: #FFF;
    border: 0;
    border-radius: 0;
    border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
    color: rgb(48, 47, 47);
}
.add-to-cart-btn{
    outline: 0;
    border: 0;
    min-width: 130px;
    min-height: 35px;
    padding:0 10px;
    font-size: 18px;
    color:#fff;
    text-transform: capitalize;
    background: #AD71C5;
}
.quantity-selector span{
    width: 35px;
    line-height: 35px;
min-height: 35px;
text-align: center;
    background: #FFF;
    color: rgb(48, 47, 47);
    font-size: 20px;
}
.prodduct-varient-wrapper{
    flex: 1;
}
.prodduct-varient-wrapper > div{
    flex:1 1 auto;
    margin: 0 5px;
    padding:0 5px ;
    background: #fff;
    
}
.prodduct-varient-wrapper select{
   
    padding: 0 5px;
}
.preview-mobile .add-to-cart-bar-wrapper{
    padding: 10px;
}
.preview-mobile .quantity-selector{
    
    margin-left: 0;
}
.preview-mobile .add-to-cart-bar-wrapper,.preview-mobile .product-form{
    flex-direction: column !important;
}
.preview-mobile  .product-img-wrapper,.preview-mobile .product-form{
    width: 100%;
    max-width: 100%;
}
.preview-mobile .prodduct-varient-wrapper{
    width: 100%;
    margin-top: 5px;
}
.preview-mobile .add-cart{
    align-items: stretch;
}
.hide{
    display: none !important;
}
.preview-mobile .add-cart ,.preview-mobile .add-to-cart-btn{
  margin-left: auto;
}
.preview-mobile .prodduct-varient-wrapper select{
    border-radius: 0;
}
.preview-mobile .prodduct-varient-wrapper > div{
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
}

@media (max-width:480px){
    .prodduct-varient-wrapper,.quantity-selector{
        display: none !important;
    }
    .preview-mobile .add-to-cart-bar-wrapper, .preview-mobile .product-form{
        flex-direction: row;
    }
    .template  .prodduct-varient-wrapper > div{
        width: 100%;
        margin: 0 !important;
        margin-bottom: 10px !important;
    }
    .template  .prodduct-varient-wrapper > div:last-child{
        margin-bottom: 5px !important;
    }
}
.quantity-selector *,.quantity-selector span,.add-to-cart-btn{
    min-height: 39px;
    line-height: 39px;
}
.qtn{
    padding: 0;
}
.comapre-price{
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 5px;
}
/* template one */
.template-one .add-to-cart-btn{
    border-radius: 25px;
}
.template-one span.plus{
    border-top-left-radius:25px ;
    border-bottom-left-radius:25px ;
}
.template-one span.minus{
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;
}
.template-one .quantity-selector{
    border: 0;
}
.template-one .add-to-cart-bar-wrapper,.template.revert .add-to-cart-bar-wrapper{
        padding: 10px;
}
.template-one .prodduct-varient-wrapper > div{
    padding: 0;
    border-radius: 25px;
}
.template-one .preview-mobile .prodduct-varient-wrapper > div{
    margin: 0 5px;
}
.template-one .preview-mobile .prodduct-varient-wrapper > div:first-child{
    margin-left: 0;
}
.template-one .prodduct-varient-wrapper > div.custom-select.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.template-one .custom-select.active .select-items{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
/* template two */
.template-two .select-selected{
    display: flex;
    height: 100%;
    align-items: center;
}
@media (min-width: 768px){
.template-two .preview-mobile .productimg img {
    visibility: visible;
}
}
.template-two .add-to-cart-bar-wrapper{
    padding: 0;
}
.template-two .add-to-cart-bar-wrapper,.template-two .product-form,.template-two .prodduct-varient-wrapper,.template-two .quantity-selector,.template-two .product-img-wrapper,.template-two .add-cart{
align-items: stretch;
margin-top: 0;
}
.template-two .select-selected:after,.template-two .select-selected.select-arrow-active:after{
top:auto;
}
.template-two .select-selected.select-arrow-active:after{
   margin-top: -7px;
    }
    .template-two   .prodduct-varient-wrapper > div{
        margin: 0;
        border-left: 1px solid #ccc;
    }
    .template-two .quantity-selector{
        flex-direction: column;
        margin: 0;
    }
    .template-two  .quantity-selector *,.template-two  .quantity-selector span{
        line-height: 25px;
        min-height: 25px;
        flex: 1;
    }
    .template-two .qtn{
        border: 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
@media (min-width:768px){
    .template-two .productimg{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .template-two .productimg img{
        visibility: hidden;
    }
}
.template-two .product-img-wrapper{
    align-items: center;
}
.preview-mobile{
    max-width: 480px;
    margin: auto;
}
.preview{

    height: calc(100% - 77px);
    background: #fff;
    margin: 10px 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 9px 8px -4px #000000; 
box-shadow: 0px 9px 8px -4px #000000;
}
.template{
    /* margin-top: -57px; */
    width: 100%;
    padding: 0 10px;

}
/* template three */
.template-three .product-img-wrapper{
    align-items: center;
}
.template-three .quantity-selector{
    display: flex;
    flex-direction: row;
   
}
.template-three .quantity-selector span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.template-three .quantity-selector input{
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
}
.template-three .productimg{
    display: none;
}
.template-three .product-price{
    display: flex;
    align-items: center;
}
.template-three .product-price span.money{
    margin-left: 15px;
    position: relative;
}
.template-three .product-price span.money::before{
    content: '';
    display: block;
    width: 2px;
    position: absolute;
    height: 22px;
    background: #fff;
    top: 0;
    left: -8px;
}
.template-three.template.revert .quantity-selector,.template-three.template.revert .add-cart{
    align-items: stretch;
}
.template-three.template.revert .add-to-cart-bar-wrapper{
    padding: 0;
}


/* template revert  */
.template.revert .add-to-cart-bar-wrapper,.template.revert .product-form,.template.revert .prodduct-varient-wrapper,.template.revert .quantity-selector,.template.revert .product-img-wrapper,.template.revert .add-cart{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.template.revert.streched .add-to-cart-bar-wrapper,.template.revert.streched .product-form,.template.revert.streched .prodduct-varient-wrapper,.template.revert.streched .quantity-selector,.template.revert.streched .product-img-wrapper,.template.revert.streched .add-cart{
    align-items: stretch;
}
.template.revert.streched .quantity-selector{
    margin: 0;
    flex-direction: column;
}
.template.revert.streched .add-to-cart-bar-wrapper{
    padding: 0;
}
.template.revert span.plus{
    order:3;
}
.template.revert .qtn{
order: 2;
}
.template.revert span.minus{
order:1;
}
@media (max-width:480px){

    .template.revert .preview-mobile .add-to-cart-bar-wrapper,.template.revert .preview-mobile .product-form{
        flex-direction: row-reverse !important;
    }
    .template.revert .add-to-cart-bar-wrapper{
        font-size: 14px;
    }
    .productimg{
        max-width: 50px;
    }
}
/* custome select list style */

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}



/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-selected {
    border-color:transparent;
}
.select-items div:last-child{
    border: 0  ;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color:#fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* ends here */

/* image pick*/
.image-holder{

    width:100%;
    height:165px;
    border:1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="file"]{
    display: none;
}
.changer{

    display: flex;
    border:1px solid #ccc;
    border-top: 0;
}
.changer span:first-child{
border-right: 1px solid #ccc;
}
.flex-fill{
flex:1;
text-align: center;
padding: 10px 0;
cursor: pointer;
}

/* template1 style */
.ac-container {
    box-sizing: border-box;
    font-family: 'Bree Serif', serif; 
    width: 360px;
 margin: auto;
    padding: 20px 20px 30px 20px;
    background: #fff;
    z-index: 99999;
    opacity:0;
    text-align:center;
    border-radius: 4px;
    box-shadow:0px 0px 5px #000;
    font-weight:normal;
}
.ac-container h2 {
    box-sizing: border-box;
    margin:0 0 14px 0;
    font-size:26px;
    border-bottom:1px dashed #ccc;
    padding-bottom:11px;
}
.ac-container h3 {
    box-sizing: border-box;
    color:#649D09;
    margin-bottom:5px;
    margin-top:15px;
    font-size:26px;
}
.ac-container p {
    box-sizing: border-box;
    margin:10px 0 20px 0;
    font-size: 14px;
    color:#959595;
    line-height: 20px;
}
.ac-container p strong {
    color:#FF1F1F;
}
.ac-container select, #modal_content select,
.ac-container input {
    box-sizing: border-box;
    color:#555;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right:5px;
    border:1px solid #ccc;
}
#modal_content button{
  width:100% !important;
  margin-top: 5px;
}
#modal_content select{
    width: auto;
    flex: 1;
}
.ac-container input.day,#modal_content input.day{
    box-sizing: border-box;
    width:45px;
flex: 1;
    height:28px;
    margin-right: 5px;
}
.ac-container input.year,#modal_content input.year{
    box-sizing: border-box;
    width:70px;
    flex: 1;
    margin-right: 5px;
    height: 28px;
}
.ac-container select {
    box-sizing: border-box;
    height:28px;
    width: auto;
    padding-left:4px;
}
.ac-container button,#modal_content button {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 10px 4px 10px;
    font-size: 12px;
    line-height: 1.5;
    width: 84px;
    background:#8EB908;
    color:#fff; 
    text-shadow:1px 1px 0 #84A51D;

}
.ac-container button:hover{
    box-sizing: border-box;
    background:#82A711;
}
.ac-container .errors  {
    box-sizing: border-box;
    margin:0 0 20px 0;
    font-size: 12px;
    line-height: 18px;
    color:#FF1F1F;
}
.ac-container .errors ul,
.ac-container .errors li{
    box-sizing: border-box;
    padding:0 0 3px 0;
    margin:0 0 0 0;
    list-style:none;
}

.fields {
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    box-sizing: border-box;
    clear:both;
    margin:10px 0 10px 0;
    padding:0 35px;
}  

.preview-mobile .fields select{
    margin-bottom: 5px;
}
.ac-container button{
    width: 100%;
    margin-top: 5px;
}
.preview-mobile .ac-container select, 
.preview-mobile .ac-container input.day, 
.preview-mobile .ac-container input.year{
    box-sizing: border-box;
    display:block;

    margin-bottom:10px;
    /* margin-right:0; */
    width:100%;
}  

.preview-mobile  .ac-container button {
    box-sizing: border-box;
    display: block;
    width: 100%;
}       
@media (max-width: 500px) {
    .ac-container {
        box-sizing: border-box;
        width:auto;
        margin-right:20px;
        margin-left:1px;
    }
    .ac-container select, 
    .ac-container input.day, 
    .ac-container input.year{
        box-sizing: border-box;
        display:block;
        margin-bottom:10px;
        /* margin-right:0; */
        width:100%;
    }
    .ac-container button {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }
}

/* template 2 style */
/* preview mobile */
.preview-mobile #modal_content {
	/* position: fixed; */
	z-index: 1101;
	margin: 0 auto;
	background-color:#fff;
	border:4px solid #444;
	border-radius: 100%;
	font-size: 12px;
	width:320px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */
	height: 320px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	background-position: center 2em;
	background-repeat: no-repeat;
    padding: 0;
	background-size: 90px auto;
	background-image: url('./enslogo.png');
}

.preview-mobile #modal_content .content_wrapper {
	padding-top: 80px;
	
	text-align: center;
}

.preview-mobile #modal_content h2 {
	margin: 0 0 0 0;
	font:normal 15px/1.3em 'Gill Sans W01 Medium', Helvetica,arial,sans-serif;
}

.preview-mobile #modal_content p {
	max-width: 75%;
	margin: 1.2em auto 0;
	font:11px/1.5em "proxima-nova", Helvetica,arial,sans-serif;
}

.preview-mobile #modal_content nav {font-size: 16px; display:table; width: 282px;}
#modal_content nav ul {display:table-row; width: 100%; margin:0; padding:0;}
#modal_content nav li {display: table-cell; text-align: right; width: auto;}

#modal_content nav:after {
	content: "";
	display: block;
	clear: both;
}

#modal_content nav small {
	display: block;
	text-align: center;
	color: #888;
	margin: 1em 0 0;
}

.preview-mobile #modal_content nav a.av_btn {
	display:block;
	text-align:center;
	width: 65px;
	border-radius: 23px;
	margin:1em auto 0;
	text-decoration: none;
	padding:1em;
	color: #fff;
	font:normal .7em/1em 'AmericanTypwrterITCW01- 731031';
	text-transform: none;
	letter-spacing: 0;
}

#modal_content nav .av_go {
	background-color: #7fbf4d;
}

#modal_content nav .av_no {
	background-color: #938d95;
}

#modal_content nav .av_btn:hover {
	background-color: #1e0924;
}

#modal_content #modal_regret_wrapper nav a.av_btn {
	margin-top:0;
	width:130px;
	font-size: 0.8em;
}
/* end */
/* preview desk */
	#modal_content {
    
        z-index: 1101;
	margin: 0 auto;
	background-color:#fff;
	border:4px solid #444;
	border-radius: 100%;
	font-size: 12px;
	width:290px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */
	height: 290px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	background-position: center 2em;
	background-repeat: no-repeat;
	background-size: 90px auto;
		top: 10em;
		top: 30vh;
		left: 30vw;
		width: 100%;
		max-width: 500px;
		height:500px;
		padding:3em;
		border-radius: 100%;
		background-position: center 3em;
		background-size: 160px auto;
		font-size: 16px;
        background-image: url('./enslogo.png');
	}

	#modal_content .content_wrapper {
		padding-top: 150px;
		
		text-align: center;
	}

	#modal_content h2 {
		margin: 0 0 0 0;
		font-size: 1.875em;
	}

	#modal_content p {
		font-size: 1em;
		line-height: 1.9em;
	}

	#modal_content nav {
        font-size: 16px; display:table; width: 282px;
        width: 396px;}

	#modal_content nav a.av_btn {
        display:block;
	text-align:center;
	width: 65px;
	border-radius: 23px;
	margin:1em auto 0;
	text-decoration: none;
	padding:1em;
	color: #fff;
	font:normal .7em/1em 'AmericanTypwrterITCW01- 731031';
	text-transform: none;
	letter-spacing: 0;
		padding:1em 2.5em;
		margin:1.6em auto 0;
		font-size: 1em;
	}
/* end */

/* template 3 style */
.template-3 #modal_content{
    display: flex;
    align-items: center;
}
.age-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    padding: 30px;
    max-width:400px;
    max-height:600px;
    min-height: 400px; 
    text-align: center; 
    margin: auto;
    border-radius: 5px;
}
.preview-mobile .age-wrapper{
    max-width:250px;
    max-height:350px;
    min-height: 250px; 

}
.age-wrapper img{

    max-width: 100%;
}
.preview .logo-wrapper{
    width: 100%;
    max-width:150px;
    height: 100%;
    max-height: 150px;
    margin:0 auto;
}
.logo-wrapper img{
    width: 100%;
}
.preview-mobile .logo-wrapper{
    width: 100%;
    height: 100%;
    max-height: 80px;
    max-width:80px;
    margin:0 auto;
}
.age-body{
    margin-top: auto;
}
.age-body .heading{
    font-size: 22px;
}
.age-body .age-massage{
    font-size: 16px;
    padding: 8px 0;
}
.age-overlay{
    display: flex;
background: rgba(0,0,0,.5);
z-index: 1;

}
.template-5,.age-overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} 
.preview{
    position: relative;
}